body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #212529;
}

.jumbotron {
    background-color: #e9ecef !important;
    font-family: "Segoe UI",Roboto,"Helvetica Neue";
    padding-bottom: 2rem;
}

h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.sub-main {
    font-size: 1.25rem !important;
    font-weight: 300 !important;
}

.submit-button {
    width: 100%;
}

#destinations {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}

.card-buttons {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
}